* {
    margin: 0px;
    padding: 0px;
}
body{
    background: #eeeeee;
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.container .color1 {
    background-color: red;
    width: 40px;
    height: 40px;
}

.container .color2 {
    background-color: black;
    width: 40px;
    height: 40px;
}
td {
    margin: 0px;
}
tr {
    margin: 0px;
} 
table { 
    border-spacing: 0;
    border-collapse: collapse;
    border: 3px solid black;
}